In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
import sys
sys.path.insert(0, '/home/mm22d016/Multi-Task')
from multiTask_dataset import MultiTask_Dataset
from torch.utils.data import DataLoader
from PolymerSmilesTokenization import PolymerSmilesTokenizer

/home/mm22d016/miniconda3/envs/TransPolymer/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
export = pd.read_csv('../data/export.csv')
export

                                        smiles property   value
0                                      *CC(*)C      Eea  0.4343
1                                      *CC(*)F      Eea  0.8740
2                                   *CC(*)(F)F      Eea  1.1415
3                                *C(F)C(*)(F)F      Eea  1.5240
4                           *CCC(F)(F)C(*)(F)F      Eea  0.4489
...                                        ...      ...     ...
4674     *CCC(=O)OC(=O)Cc1ccc(-c2ccc(*)cc2)cc1       Ei  6.1951
4675                *Nc1ccc(NC(=O)NONC(*)=O)s1       Ei  5.6948
4676  *C(=S)C(=O)CCNc1ccc(C(=S)c2ccc(*)cc2)cc1       Ei  5.8838
4677       *c1ccc(-c2ccc(C(F)(F)C(*)(F)F)s2)s1       Ei  5.8176
4678                    *OC(=O)C(F)(F)C(*)(F)F       Ei  9.0985

[4679 rows x 3 columns]

In [3]:
unique_smiles = export['smiles'].unique()
unique_data = {'smiles': unique_smiles}
for prop in ['Eea', 'Egb', 'Egc', 'Ei']:
    prop_values = []
    for smile in unique_smiles:
        value = export[(export['smiles'] == smile) & (export['property'] == prop)]['value'].values
        if len(value) > 0:
            prop_values.append(value[0])
        else:
            prop_values.append(None)
    
    unique_data[prop] = prop_values

In [10]:
unique_df = pd.DataFrame(unique_data)
unique_df = unique_df.fillna(-99)
unique_df

,smiles,Eea,Egb,Egc,Ei
0,*CC(*)C,0.4343,7.6997,6.5196,6.1850
1,*CC(*)F,0.8740,8.3099,7.6225,7.6332
2,*CC(*)(F)F,1.1415,-99.0000,7.1498,8.1531
3,*C(F)C(*)(F)F,1.5240,6.8451,7.6787,8.5986
4,*CCC(F)(F)C(*)(F)F,0.4489,9.1316,8.6882,9.0178
...,...,...,...,...,...
3711,*Nc1c([2H])c([2H])c(*)c([2H])c1[2H],-99.0000,-99.0000,3.3666,-99.0000
3712,*CCCCCC[N+](C)(C)CCC[N+](*)(C)C,-99.0000,-99.0000,0.2161,-99.0000
3713,*CCCCCCCC[N+](C)(C)CCCCCC[N+](*)(C)C,-99.0000,-99.0000,0.1032,-99.0000
3714,*CCCCCCCCCCCCCCCC[N+](C)(C)CCCCCC[N+](*)(C)C,-99.0000,-99.0000,0.1771,-99.0000
3715,*C=Cc1cc([Si](C)(C)C)c(*)cc1[Si](C)(C)C,-99.0000,-99.0000,2.2084,-99.0000

In [12]:
unique_df.to_csv('../data/multiTask.csv',index=False)

In [1]:
import pandas as pd
data = pd.read_csv('../data/multiTask.csv')
data

,smiles,Eea,Egb,Egc,Ei
0,*CC(*)C,0.4343,7.6997,6.5196,6.1850
1,*CC(*)F,0.8740,8.3099,7.6225,7.6332
2,*CC(*)(F)F,1.1415,-99.0000,7.1498,8.1531
3,*C(F)C(*)(F)F,1.5240,6.8451,7.6787,8.5986
4,*CCC(F)(F)C(*)(F)F,0.4489,9.1316,8.6882,9.0178
...,...,...,...,...,...
3711,*Nc1c([2H])c([2H])c(*)c([2H])c1[2H],-99.0000,-99.0000,3.3666,-99.0000
3712,*CCCCCC[N+](C)(C)CCC[N+](*)(C)C,-99.0000,-99.0000,0.2161,-99.0000
3713,*CCCCCCCC[N+](C)(C)CCCCCC[N+](*)(C)C,-99.0000,-99.0000,0.1032,-99.0000
3714,*CCCCCCCCCCCCCCCC[N+](C)(C)CCCCCC[N+](*)(C)C,-99.0000,-99.0000,0.1771,-99.0000
3715,*C=Cc1cc([Si](C)(C)C)c(*)cc1[Si](C)(C)C,-99.0000,-99.0000,2.2084,-99.0000